asttokens==2.4.1
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
executing==2.0.1
google-auth==2.32.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
idna==3.7
markdown-it-py==3.0.0
maskpass==0.3.7
mdurl==0.1.2
oauthlib==3.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyfiglet==1.0.2
Pygments==2.18.0
pynput==1.7.7
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
setuptools==71.1.0
six==1.16.0
urllib3==2.2.2
